<div class="container-fluid">
  <h2>Editar activo</h2>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Descripción</label>
      <input type="text" formControlName="descripcion" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Serial</label>
      <input type="text" formControlName="serial" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Valor</label>
      <input type="text" formControlName="valor" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Fecha</label>
      <input type="text" formControlName="fecha" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Tipo de activo</label>
      <select class="custom-select" formControlName="tipoactivoid" required>
        <option value="default">Seleccione..</option>
        <option *ngFor="let tipo of tipos" [value]="tipo.id">{{ tipo.nombre }}</option>
      </select>
    </div>

    <button class="btn btn-primary" [disabled]="!editForm.valid" type="submit">Editar</button>

  </form>

</div>
